:root {
  font-size: calc(1vw + 1.5em);
}
@media (min-width: 35em) {
  :root {
    font-size: calc(1vw + 1em);
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Neuton", serif;
}
.unofficial {
  font-family: "Kaushan Script", sans-serif;
  font-weight: normal;
  cursor: default;
  font-size: 0.5em;
}
header {
  background-color: #06F;
  top: 0;
  position: fixed;
  width: 100%;
  padding: 0.75em;
  color: #FFF;
  z-index: 1;
}
header > h3 > a {
  color: #FFF;
}
main {
  position: relative;
  top: 3em;
  margin-left: 5em;
}
h3 {
  margin: 0;
}
.navbar {
  position: fixed;
  float: left;
  top: 2.8em;
  background-color: silver;
  height: 100%;
}
.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menu > li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.menu > li > a {
  color: #000;
  font-weight: bold;
  padding: 0.5em 0.25em 0.5em 1.25em;
  display: flex;
}
.menuitem:hover {
  background-color: cyan;
  color: #FFF;
}
.title {
  color: #000;
}
.active {
  background-color: blue;
  color: #FFF !important;
}
.username {
  display: none;
}
.field > p {
  margin: 0.25em 1em 0.25em 0;
}
.field {
  display: flex;
  margin-bottom: 1.5em;
}
.term {
  margin-right: 2em;
  border-color: cyan;
}
.definition {
  border-color: #06F;
}
input {
  border-radius: 0.5em;
  font-size: 1em;
  font-family: "Neuton", serif;
}
.collection_div {
  margin-top: 0.5em;
}
.submit {
  background-color: #06F;
  color: white;
  padding: 0.5em 1.25em 0.5em 1.25em;
}
.submit:hover {
  background-color: cyan;
  cursor: pointer;
}
.alt {
  color: #C0C0C0;
  font-size: 1em;
  text-decoration: none;
}
.alt:link, .alt:visited, .alt:hover, .alt:active {
  color: #C0C0C0;
}
.alt:hover {
  color: #808080;
}
.error {
  color: #E60000;
}
.error_msg {
  color: #C00;
}
.option {
  border: 5px solid blue;
  display: inline-block;
  margin-bottom: 1em;
  padding: 0.25em;
}
.success {
  color: #0F0;
}
.success_msg {
  color: #060;
}
